<div class="content-heading mat-design-700">
	Dashboard <small data-localize="dashboard.WELCOME">Welcome to
		Evidencija-POS!</small>
</div>
<div class="card">
	<div class="card-block">
		<h4 class="card-title">Register</h4>
		<div class="row mat-design-50">
			<div class="col-sm-8">
				<form class="form-padding-20">
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerFirstname">Firstname:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="registerFirstname"
								placeholder="Enter firstname">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerLastname">Lastname:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="registerLastname"
								placeholder="Enter lastname">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerEmail">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="registerEmail"
								placeholder="Enter email">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerUsername">Username:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="registerUsername"
								placeholder="Enter username">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerPassword">Password:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="registerPassword"
								placeholder="Enter password">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerCompany">Company:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="registerCompany"
								placeholder="Enter company">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerCountry">Country:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="registerCountry"
								placeholder="Enter country">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="registerCity">City:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="registerCity"
								placeholder="Enter city">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit"
								class="btn btn-block btn-primary mat-design-800">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

